/* TODO: Add sitewide styles */

@import 'normalize.css';





html, body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}



body {
  font-family: 'Proza Libre', sans-serif;
  /* … */
}